@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Poppins", sans-serif;
}

.bg{
    height: 100vh;
    position: relative;
}

.bg .gambar_atas{
    position: absolute;
    top: -1px;
}

.bg .gambar_bawah{
    position: absolute;
    bottom: 0;
}

.forget{
    position: relative;
    z-index: 1;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetPass{
    position: relative;
    z-index: 1;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerr{
    background-color: transparent;
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.30);
}

.containerr .fomulir{
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.containerr .judul{
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
}

.inputan {
    width: 350px;
    height: 35px;
    margin: 30px 0 20px 0px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
}

.inputan input{
    width: 90%;
    margin: 2px 2px;
    padding: 0 15px;
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: 600px;
    display: flex;
    background: none;
    flex: 9;
}

.inputan i{
    flex: 1;
    display: flex;
    font-size: 20px;
}

.btn_login{
    display: flex;
    justify-content: space-between;
}

.btn_login .back{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid red;
    background-color: red;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;   
}

.btn_login .submit{
    margin-left: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.btn_forget .submit{
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.btn_login .submit:hover, .btn_forget .submit:hover{
    background-color: #ffffff;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out;
}

.btn_login .back:hover{
    background-color: #ffffff;
    border: 2px solid red;
    color: red;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out;
}

.ke_register{
    margin-top: 20px;
}

.ke_register a{
    font-weight: 600;
    text-decoration: none;
    color: #0d6efd;
}

.ke_register a:hover{
    text-decoration: underline;
}

.fomulir .pesan{
    font-style: italic;
    font-weight: 400;
    color: red;
    background:none;
    padding-top: -30px;
}

.fomulir .bungkusForget{
    margin-top: 20px;
    margin-bottom: 20px;
}

.fomulir .forget{
    text-decoration: none;
    color: #0d6efd;
    font-weight: 600;
}

.fomulir .forget:hover{
    text-decoration: underline;
    font-weight: 600;
}

/* * Respomsive */
/* laptop */
@media (max-width: 1366px){
    html{
        font-size: 100%;
    }

    .containerr{
        width: 70vw;
    }

    .inputan {
        width: 60vw;
        height: 35px;
    }

    .inputan input{
        font-size: 23px;     
    }

    .fomulir small{
        font-size: 20px;
    }

}

/* tablet */
@media (max-width: 780px){
    html{
        font-size: 100%;
    }

    .containerr{
        width: 70vw;
    }

    .inputan {
        width: 60vw;
        height: 35px;
    }

    .inputan input{
        font-size: 23px;     
    }

    .fomulir small{
        font-size: 20px;
    }

}

/* Handphone */
@media (max-width: 450px){
    html{
        font-size: 90%;
    }

    .containerr{
        width:80vw;
    }

    .inputan {
        width: 65vw;
        height: 35px;
    }

    .inputan input{
        font-size: 15px;     
    }

    .fomulir small{
        font-size: 12px;
    }

}

