@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerr{
    background-color: #ffffff;
    width: 70%;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.30);
}

.containerr .gambar_kotak{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 15px;
    margin-block: 10%;
}

.containerr .fomulir{
    margin: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerr .fomulir .judul{
    color: #333;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;
}

.fomulir .inputan{
    width: 400px;
    height: 37px;
    background-color: #ffffff;
    margin: 30px 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.fomulir .inputan input{
    width: 80vw;
    font-style: italic;
    font-size: 24px;
    line-height: normal;
    outline: none;
    border: none;
    background-color: none;
    flex: 10;
}

.fomulir .inputan i{
    flex: 1;
    display: flex;
    font-size: 18px;
}

.containerr .fomulir .btn_register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.containerr .fomulir .btn_register button{
    background-color: #0d6efd;
    padding: 10px;
    width: 90%;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #0d6efd;
    text-transform: uppercase;
    cursor: pointer;
}

.containerr .fomulir .btn_register button:hover{
    background-color: #ffffff;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out;
    transition: color 0.4s ease-in-out;
}

.containerr .ke_login a{
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #0d6efd;
    cursor: pointer;
}

.containerr .ke_login a:hover{
    text-decoration: underline;
}

.fomulir .pesan{
    font-style: italic;
    font-weight: 400;
    color: red;
    background:none;
}

/* /* Respomsive */

/* laptop */
@media (max-width: 1366px){
    html{
        font-size: 100%;
    }

    .containerr .gambar_kotak{
        display: none;
    }

    .containerr{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    .containerr .fomulir{
        background-color: red;
        width: 100%;
    }

    .fomulir small{
        font-size: 20px;
    }

    .fomulir .inputan{
        width: 60vw;
    }

    .fomulir small{
        font-size: 18px;
    }

    .containerr .fomulir .judul{
        margin-bottom: 18px;
    }

    .containerr .fomulir .btn_register button{
       font-size: 20px;
    }

}

/* tablet */
@media (max-width: 780px){
    html{
        font-size: 100%;
    }

    .containerr{
        width: 75%;
        display: flex;
        justify-content: center;
    }

    .containerr .gambar_kotak{
        display: none;
    }

    .containerr .fomulir{
        width: 100%;
        background-color: red;
    }

    .fomulir .inputan{
        width: 55vw;
    }

    .fomulir small{
        font-size: 18px;
    }

    .containerr .fomulir .judul{
        margin-bottom: 18px;
    }

    .containerr .fomulir .btn_register button{
       font-size: 20px;
    }
}

/* Handphone */
@media (max-width: 500px){
    html{
        font-size: 100%;
    }

    .containerr{
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerr .gambar_kotak{
        display: none;
    }

    .containerr .fomulir{
        width: 100%;
        display: flex;
    }

    .fomulir .inputan{
        width: 45vh;
    }

    .fomulir .inputan input{
        font-size: 17px;
    }

    .fomulir small{
        font-size: 13px;
    }

    .containerr .fomulir .judul{
        margin-bottom: 15px;
    }

    .containerr .fomulir .btn_register button{
        font-size: 13px;
     }
}





