@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F6FBFF;
}

/* navbarr */

/* set navbarr */
.navbarr{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: #ffffff;
}

/* set pembungkus */
.navbarr .pembungkus{
    padding: 8px 4%;
    display: flex;
    justify-content: space-between;
}

/* set logo */
.navbarr .pembungkus .logo{
    width: 15%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.navbarr .pembungkus .logo img{
    width: 100%;
}

/* set list menu */
.navbarr .pembungkus .list-menu{
    width: 25%;
    margin-left: 5%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarr .pembungkus .list-menu a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.navbarr .pembungkus .list-menu a:hover{
    color: #0d6efd;
    scale: 0.95;
    transition: color 0.2s ease-in-out;
}

/* set list auth */
.navbarr .pembungkus .auth{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.navbarr .pembungkus .auth .btn{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
}

.navbarr .pembungkus .auth .btn:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.5s ease-in;
}

.navbarr .pembungkus .auth .name_session{
    font-weight: 700;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* set dropdown-menu */
.navbarr .pembungkus .auth .menu_dropdown{
    position: absolute;
    right: 10rem;
    top: 60px;
    height: 0px;
    width: 200px;
    background-color: #ffffff;
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    font-weight: 500;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* set for java */
.navbarr .pembungkus .auth .menu_dropdown.open{
    height: auto;
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}


.navbarr .pembungkus .auth .menu_dropdown li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.navbarr .pembungkus .auth .menu_dropdown li:hover{
    background-color: rgb(238, 237, 237);
}

.navbarr .pembungkus .auth .menu_dropdown li a{
    text-decoration: none;
    color: black;
}

.navbarr .pembungkus .auth .menu_dropdown li a:hover{
    color: #0d6efd;
    scale: 0.95;
}

/* set logo bars */
.navbarr .pembungkus .icon-bars{
    display: none;
    color: #0d6efd;
    font-weight: bolder;
    font-size: 15px;
}

/* set dropdown */
.navbarr .dropdown{
   display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   height: 0px;
   width: 300px;
   background-color: #ffffff;
   backdrop-filter: blur(15px);
   overflow: hidden;
   border-radius: 10px;
   font-weight: 500;
   transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* for java */
.navbarr .dropdown.open{
    height: auto;
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.navbarr .dropdown li{
    list-style-type: none;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbarr .dropdown li a{
    text-decoration: none;
    color: black;
}

.navbarr .dropdown .ngelist:hover{
    background-color: rgb(238, 237, 237);
}

.navbarr .dropdown li a:hover{
    color: #0d6efd;
    scale: 0.95;
}

.navbarr .dropdown .btn{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
}

.navbarr .dropdown .btn:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.5s ease-in;
}

/* set profile user */
.navbarr .pembungkus .auth .user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 10px;
    margin-left: -10px;
}

.navbarr .pembungkus .auth .user .foto_user{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.navbarr .pembungkus .auth .user .foto_user img{
    width: 100%;
}

/* end navbarr */

 /* details */
.detail{
    display: flex;
    justify-content: center;
    width: 100%;
}

.kotak-details{
    display: flex;
    justify-content: space-between;
    width: 95vw;
}

.detail .detail-section{
    width: 65%;
    margin-top: 8.5%;
}

.detail .detail-section .bungkus-detail .perusahaan{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.detail .detail-section .bungkus-detail .perusahaan .logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2%;
}

.detail .detail-section .bungkus-detail .perusahaan .logo img{
    width: 80%;
}

.detail .detail-section .bungkus-detail .perusahaan .informasi .nama_perusahaan h2{
    width: 90%;
    font-size: 26px;
    font-weight: 700;
    margin-left: 12%;
    margin-bottom: 5%;
    color: #0d6efd;
}

.detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan{
    width: 90%;
    margin-left: 12%;
    display: flex;
    flex-wrap: wrap;
}

.detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota{
    width: 50%;
}
 
.detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .telp{
    width: 50%;
}

.detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .alamat{
    width: 70%;
}

.detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota h4, .telp h4, .alamat h4{
    color: #333;
    font-size: 16px;
    font-weight: 700;
}
 
.detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota p, .telp p, .alamat p{
    color: #333;
    font-size: 16px;
}

.detail .detail-section .bungkus-detail .lowongan{
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.detail .detail-section .bungkus-detail .lowongan h2{
    color: #0d6efd;
    margin-left: 3%;  
    font-size: 26px;
    margin-bottom: 5%;
    font-weight: 700;
    text-transform: uppercase;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan{
    margin-left: 3%; 
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .posisi{
    width: 50%;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .salary{
    width: 50%;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .syarat{
    width: 70%;
    margin-top: 10px;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .posisi h4, .salary h4, .syarat h4{
    color: #333;
    font-size: 16px;
    font-weight: 700;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .syarat ul{
    margin: 0 0 0 6%;
    padding: 0;
}

.detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .syarat ul li{
    color: #333;
    font-size: 16px;
}

.detail .kotak-details .cegah{
    width: 33%;
    height: 100%;
}

.detail .kotak-details .cegah .upload-section{
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 65px;
    margin-top: 125px;
    padding: 10px;
    width: 100%;
    border-radius:7px ;
} 

.detail .kotak-details .cegah .upload-section h2{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #0d6efd;
    font-size: 25px;
    font-weight: 700;
}

.detail .kotak-details .cegah .upload-section .text-ajakan{
    text-align: justify;
    padding: 10px;
    color: #333;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
}

.detail .kotak-details .cegah .upload-section .text-ajakan span{
    color: #0d6efd;
    text-transform: capitalize;
    font-weight: 600;
}

.detail .kotak-details .cegah .upload-section .btn-upload{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.detail .kotak-details .cegah .upload-section .btn-upload .btn-lamar{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #FA8310;
    border: 1px solid #FA8310;
    border-radius: 10px;
    padding: 8px 25px;
}

.detail .kotak-details .cegah .upload-section .btn-upload .btn-lamar:hover{
    color: #FA8310;
    background-color: #fff;
    border: 1px solid #FA8310;
    transition: background-color 0.5s ease-in;
}

/* end details */

/* footer */
/* footer */
footer{
    background-color: #0d6efd;
    width: 100%;
}

.kotak-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.kotak-body .about{
    width: 30%;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    margin-right: 5%;
    margin-left: 10%;
}

.kotak-body .about p{
    color: #F8F9FA;
    font-weight: 500;
    text-align: justify;
    font-size: 15px;
}

.kotak-body .kontak{
    width: 40%;
    margin-left: 5%;
    margin-top: -3%;
}

.kontak .kotak-logo{
    width: 35%;
    margin-left: -5px;
    margin-bottom: 5px;
}

.kontak .kotak-logo img{
    width: 100%;
}

.kotak-body .kontak .icon-kontak{
    display: flex;
    width: 50%;
    margin-left: 6px;
    margin-bottom: 10px;
}

.kotak-body .kontak .icon-kontak a{
    text-decoration: none; 
    font-weight: 500; 
}

.kotak-body .kontak .icon-kontak i{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-right: 10px;  
    color: #F6FBFF;
}

.kotak-body .kontak .icon-kontak p{
    font-weight: 600;
    color: #F6FBFF;
    margin-bottom: -5px;
    font-size: 15px;
}

.kotak-copy{
    margin-top: 30px;
}

.kotak-copy .sosmed{
    display: flex;
    justify-content: center;
}

.kotak-copy .sosmed a{
    text-decoration: none;
}

.kotak-copy .sosmed i{
    font-weight: 500;
    font-size: 24px;
    padding-block: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #ffffff;
}

.kotak-copy .sosmed .sosmed-center{
    margin-inline: 17px;
}

.kotak-copy .copy{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    color: #F8F9FA;
}
/* end footer */

/* Responsive */
/* laptop */
@media  (max-width: 1366px){
     /* universal */
     html{
        font-size: 90%;
    }

    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    .navbarr .pembungkus{
        padding-inline: 5%;
    }

    .navbarr .pembungkus .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vw;
    }

    nav .auth{
        margin-right: 3%;
    }

    /* end navbarr */

    /* details */
    .detail .detail-section .bungkus-detail .perusahaan .logo{
        width: 65%;
    }

    .detail .kotak-details .cegah{
        margin-top: -2.5%;
    } 
    
    /* end details */

    /* footer */
    footer{
        background-color: #0d6efd;
        width: 100%;
    }

    .kotak-body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kotak-body .about{
        width: 100%;
        margin: 0;
        padding: 20px 6%;
    }

    .kotak-body .kontak{
        width: 100%;
    }

    .kontak .kotak-logo{
        width: 20%;
        margin-left: 0.5px;
    }

    .kotak-copy{
        margin-top: 18px;
    }
    /* end footer */

}

/* table */
@media (max-width: 800px){
    /* universal */
    html{
        font-size: 80%;
    }

    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    /* set logo */
    .navbarr .pembungkus .logo{
        width: 25%;
    }

    .navbarr .pembungkus .list-menu,
    .navbarr .pembungkus .auth{
        display: none;
    }

    .navbarr .pembungkus .icon-bars{
        display: block;
        font-size: 20px;
    }

    .navbarr .dropdown{
        display: block;
        font-size: 15px;
    }

    /* end navbarr */

    .kotak-details{
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
    }

   .kotak-details .detail-section{
        width: 100%;
        margin-top: 15%;
    }

    .detail .detail-section .bungkus-detail .perusahaan .logo{
        width: 60%;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .logo img{
        width: 100%;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .informasi .nama_perusahaan h2{
        font-size: 25px;
        font-weight: 700;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota h4, .telp h4, .alamat h4{
        font-size: 14px;
    }
     
    .detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota p, .telp p, .alamat p{
        font-size: 16px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan{
        margin-bottom: 0px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan h2{
        font-size: 25px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .posisi h4, .salary h4, .syarat h4{
        font-size: 16px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .syarat ul li{
        font-size: 16px;
    }
    
    .detail .kotak-details .cegah{
        margin-top: -27%;
        width: 100%;
        height: 10%;
    }

    .detail .kotak-details .cegah .upload-section h2{
       font-size: 25px;
    }

    .detail .kotak-details .cegah .upload-section .text-ajakan{
        font-size: 16px;
    }

    .detail .kotak-details .cegah .upload-section .btn-upload .btn-lamar{
        font-size: 16px;
    }

    /* footer */
    footer{
        margin-top:15%;
        background-color: #0d6efd;
        width: 100%;
    }

    .kotak-body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kotak-body .about{
        width: 100%;
        margin: 0;
        padding: 20px 6.5%;
    }

    .kotak-body .kontak{
        width: 100%;
    }

    .kontak .kotak-logo{
        width: 25%;
        margin-left: 1px;
    }

    .kotak-copy{
        margin-top: 18px;
    }

    /* end footer */
}

/* hanphone */
@media (max-width: 500px){
    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    /* set logo */
    .navbarr .pembungkus .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37vw;
    }

    /* set listmenu and auth */
    .navbarr .pembungkus .list-menu,
    .navbarr .pembungkus .auth{
        display: none;
    }

    /* set bars */
    .navbarr .dropdown{
        left: 2rem;
        width: unset;
        font-size: 18px;
    }

    /* end navbarr */

    .kotak-details{
        display: flex;
        justify-content: none;
        flex-wrap: wrap;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .logo{
        width: 80%;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .logo img{
        width: 100%;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .informasi .nama_perusahaan h2{
        font-size: 22px;
        font-weight: 700;
    }
    
    .detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota h4, .telp h4, .alamat h4{
        font-size: 14px;
    }
     
    .detail .detail-section .bungkus-detail .perusahaan .informasi .bungkus-perusahaan .kota p, .telp p, .alamat p{
        font-size: 14px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan{
        margin-bottom: 0px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan h2{
        font-size: 22px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .posisi h4, .salary h4, .syarat h4{
        font-size: 14px;
    }
    
    .detail .detail-section .bungkus-detail .lowongan .bungkus-lowongan .syarat ul li{
        font-size: 14px;
    }
    
    .detail .kotak-details .cegah{
        margin-top: -39%;
        width: 100%;
        height: 10%;
    }

    .detail .kotak-details .cegah .upload-section h2{
       font-size: 22px;
    }

    .detail .kotak-details .cegah .upload-section .text-ajakan{
        font-size: 14px;
    }

    .detail .kotak-details .cegah .upload-section .btn-upload .btn-lamar{
        font-size: 14px;
    }
    

   /* footer */
   footer{
    margin-top: 20%;
    background-color: #0d6efd;
    width: 100%;
    }

    .kotak-body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kotak-body .about{
        width: 100%;
        margin: 0;
        padding: 20px 6%;
    }

    .kotak-body .kontak{
        width: 100%;
    }

    .kontak .kotak-logo{
        margin-left: 1px;
        width: 35%;
    }

    .kotak-copy{
        margin-top: 18px;
    }

    /* end footer */
}
