@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F6FBFF;
}

/* navbarr */

/* set navbarr */
.navbarr{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: #ffffff;
}

/* set pembungkus */
.navbarr .pembungkus{
    padding: 8px 4%;
    display: flex;
    justify-content: space-between;
}

/* set logo */
.navbarr .pembungkus .logo{
    width: 15%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.navbarr .pembungkus .logo img{
    width: 100%;
}

/* set list menu */
.navbarr .pembungkus .list-menu{
    width: 25%;
    margin-left: 5%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarr .pembungkus .list-menu a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.navbarr .pembungkus .list-menu a:hover{
    color: #0d6efd;
    scale: 0.95;
    transition: color 0.2s ease-in-out;
}

/* set list auth */
.navbarr .pembungkus .auth{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.navbarr .pembungkus .auth .btn{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
}

.navbarr .pembungkus .auth .btn-register{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
    padding: 8px 10px;
}

.navbarr .pembungkus .auth .btn-register:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #fff;
    transition: background-color 0.5s ease-in;
}

.navbarr .pembungkus .auth .btn:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.5s ease-in;
}

.navbarr .pembungkus .auth .name_session{
    font-weight: 700;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* set dropdown-menu */
.navbarr .pembungkus .auth .menu_dropdown{
    position: absolute;
    right: 10rem;
    top: 60px;
    height: 0px;
    width: 200px;
    background-color: #ffffff;
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    font-weight: 500;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* set for java */
.navbarr .pembungkus .auth .menu_dropdown.open{
    height: auto;
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}


.navbarr .pembungkus .auth .menu_dropdown li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.navbarr .pembungkus .auth .menu_dropdown li:hover{
    background-color: rgb(238, 237, 237);
}

.navbarr .pembungkus .auth .menu_dropdown li a{
    text-decoration: none;
    color: black;
}

.navbarr .pembungkus .auth .menu_dropdown li a:hover{
    color: #0d6efd;
    scale: 0.95;
}

/* set logo bars */
.navbarr .pembungkus .icon-bars{
    display: none;
    color: #0d6efd;
    font-weight: bolder;
    font-size: 15px;
}

/* set dropdown */
.navbarr .dropdown{
   display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   height: 0px;
   width: 300px;
   background-color: #ffffff;
   backdrop-filter: blur(15px);
   overflow: hidden;
   border-radius: 10px;
   font-weight: 500;
   transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* for java */
.navbarr .dropdown.open{
    height: auto;
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.navbarr .dropdown li{
    list-style-type: none;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbarr .dropdown li a{
    text-decoration: none;
    color: black;
}

.navbarr .dropdown .ngelist:hover{
    background-color: rgb(238, 237, 237);
}

.navbarr .dropdown li a:hover{
    color: #0d6efd;
    scale: 0.95;
}

.navbarr .dropdown .btn{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
}

.navbarr .dropdown .btn:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.5s ease-in;
}

/* set profile user */
.navbarr .pembungkus .auth .user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 10px;
    margin-left: -10px;
}

.navbarr .pembungkus .auth .user .foto_user{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.navbarr .pembungkus .auth .user .foto_user img{
    width: 100%;
}
/* end navbarr */

/* hero section */
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50%;
    position: relative;
}

.hero{
    width: 90%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.hero .konten{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .konten .Judul{
    color: #0d6efd;
    font-size: 49px;
    font-weight: 700;
    color: #333;
    line-height: normal;
}

.hero .konten .pendukung{
    /* font-weight: 800; */
    color: #333;
    font-size: 24px;
    width: 90%;
    text-align: justify;
    margin-bottom: 40px;
    line-height: normal;
}

.hero .konten .button{
    background-color: #FA8310;
    border: 1px solid #FA8310;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
}

.hero .konten .button:hover{
    background-color: #ffffff;
    border: 2px solid #FA8310;
    color: #FA8310;
    transition: background-color 0.5s ease-in-out;
}

/* end hero section */

/* alasan */
.judul-alasan{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    color: #333;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}
.alasan-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.alasan{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bungkus-alasan{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
    width: 40%;
    margin: 50px;
    padding: 15px;
}

.bungkus-alasan .gambar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
}

.bungkus-alasan .gambar img{
    width: 100%;
}

.bungkus-alasan .judul-card h5{
    text-align: center;
    margin-block: 15px;
    font-size: 22px;
    color: #333;
    font-weight: 700;
    line-height: normal;
}

.bungkus-alasan .text{
    text-align: center;
    font-size: 14px;
}
/* end alasan */

/* rekom */
.judul-rekom{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    font-size: 40px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.pendukung-judul-rekom{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: normal;
    color: #333;
}

.rekom-section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.rekom-kotak{
    width: 90%;
    display: block;
    margin-top: 30px;
}

/* end rekom */

/* lowongan */
#landLowongan{
    margin-top: 20%;
}

.judul-lowongan{
    display: flex;
    justify-content: center;
    color: #333;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.lowongan-section{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-block: 20px;
}

.lowongan{
    display: flex;
    width: 90vw;
    overflow-x: auto;
}

.lowongan::-webkit-scrollbar{
    height: 5px;
}

.lowongan::-webkit-scrollbar-thumb{
    background-color: #0d6efd;
    border-radius: 10px;
}

.kotak-lowongan{
    margin-inline: 10px;
    margin-block: 10px;
    min-width: 20vw;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.20);
}

.kotak-lowongan .bungkus-logo-lowongan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak-lowongan .logo-lowongan{
    width: 53%;
    height: 150px;
    padding: 10px;
    overflow: hidden;
}

.kotak-lowongan .logo-lowongan img{
    width: 100%;
}

.kotak-lowongan .body-lowongan{
    margin-top: 30px;
    margin-bottom: 20px;
}

.kotak-lowongan .body-lowongan .namaUsaha{
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 16px;
    color: #00BFA5;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.kotak-lowongan .body-lowongan .namaPosisi{
    font-size: 26px;
    font-weight: 600;
    color: #333;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.kotak-lowongan .kota-lowongan{
    display: flex;
    margin-bottom: 20px;
}

.kotak-lowongan .kota-lowongan .icon-location #location i{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 20px;
    padding: 3px;
    margin: 2.5px 0 0 0;
}

.kotak-lowongan .kota-lowongan .kotaUsaha{
    margin-inline: 13px;
    padding-top: 1px;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
}

.kotak-lowongan .cek{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kotak-lowongan .cek a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
}

.kotak-lowongan .cek a:hover{
    color: #0d6efd;
    background-color: #ffffff;
    border: 1px solid #0d6efd;
    transition: background-color 0.5s ease-in;
}

.btn_more-lowongan{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    padding-block: 20px;
}

.btn_more-lowongan a{
    background-color: #FA8310;
    text-decoration: none;
    padding: 8px 25px;
    border: 1px solid #FA8310;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
}

.btn_more-lowongan a:hover{
    scale: 0.95;
    border: 1px solid #FA8310;
    background-color: #ffffff;
    color: #FA8310;
    transition: background-color 0.5s ease-in;
}

/* end lowongan */

/* footer */
footer{
    margin-top: 8%;
    background-color: #0d6efd;
    width: 100%;
}

.kotak-body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.kotak-body .about{
    width: 30%;
    color: #ffffff;
    padding: 10px;
    margin-top: 15px;
    margin-right: 5%;
    margin-left: 10%;
}

.kotak-body .about p{
    color: #F8F9FA;
    font-weight: 500;
    text-align: justify;
    font-size: 15px;
}

.kotak-body .kontak{
    width: 40%;
    margin-left: 5%;
    margin-top: -3%;
}

.kontak .kotak-logo{
    width: 35%;
    margin-left: -5px;
    margin-bottom: 5px;
}

.kontak .kotak-logo img{
    width: 100%;
}

.kotak-body .kontak .icon-kontak{
    display: flex;
    width: 50%;
    margin-left: 6px;
    margin-bottom: 10px;
}

.kotak-body .kontak .icon-kontak a{
    text-decoration: none; 
    font-weight: 500; 
}

.kotak-body .kontak .icon-kontak i{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    margin-right: 10px;  
    color: #F6FBFF;
}

.kotak-body .kontak .icon-kontak p{
    font-weight: 600;
    color: #F6FBFF;
    margin-bottom: -5px;
    font-size: 15px;
}

.kotak-copy{
    margin-top: 30px;
}

.kotak-copy .sosmed{
    display: flex;
    justify-content: center;
}

.kotak-copy .sosmed a{
    text-decoration: none;
}

.kotak-copy .sosmed i{
    font-weight: 500;
    font-size: 24px;
    padding-block: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #ffffff;
}

.kotak-copy .sosmed .sosmed-center{
    margin-inline: 17px;
}

.kotak-copy .copy{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    color: #F8F9FA;
}
/* end footer */

/* Responsive */
/* laptop */
@media  (max-width: 1366px){
     /* universal */
     html{
        font-size: 90%;
    }

    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    .navbarr .pembungkus{
        padding-inline: 5%;
    }

    .navbarr .pembungkus .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vw;
    }

    nav .auth{
        margin-right: 3%;
    }

    /* end navbarr */

    /* hero section */
    .hero{
        width: 100%;
        margin-block: 21%;
    }

    .hero .konten{
        width: 100%;
    }

    .hero .gambar-hero{
        display: none;
    }

    .hero .konten{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .konten .Judul{
        font-size: 38px;
        margin-block: 10px;
    }

    .hero .konten .pendukung{
        font-size: 23px;
    }
    
    /* end hero section */

    /* alasan */
    .alasan{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .judul-alasan{
        font-size: 38px;
    }

    .bungkus-alasan{
        margin: 25px;
        width: 55%;
    }

    .bungkus-alasan .gambar{
        width: 40%;
    }

    .bungkus-alasan .judul-card{
        font-size: 25px;
    }

    .bungkus-alasan .text{
        font-size: 16px;
    }

    /* end alasan */

    /* rekom */
    .judul-rekom{
        font-size: 38px;
        text-align: center;
        margin-top: 40%;
    }

    .pendukung-judul-rekom{
        font-size: 24px;
        margin-bottom: 25px;
    }

    .rekom-kotak{
        width: 100%;
    }
    /* end rekom */

    /* lowongan */
    .judul-lowongan{
        font-size: 33px;
        text-align: center;
        margin-top: 20%;
    }

    .kotak-lowongan{
        min-width: 30vw;
    }

    .kotak-lowongan .logo-lowongan{
        width: 50%;
    }

    .kotak-lowongan .logo-lowongan img{
        width: 100%;
    }

    .kotak-lowongan .body-lowongan .namaPosisi{
        font-size: 20px;
    }

    .kotak-lowongan .body-lowongan .namaUsaha{
        font-size: 13px;
    }

    .kotak-lowongan .kota-lowongan .icon-location #location i{
        font-size: 20px;
    }
    
    .kotak-lowongan .kota-lowongan .kotaUsaha{
        font-size: 18px;
    }

    .kotak-lowongan .cek a{
        font-size: 13px;
    }
    /* end lowongan */

    /* footer */
    footer{
        margin-top: 8%;
        background-color: #0d6efd;
        width: 100%;
    }

    .kotak-body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kotak-body .about{
        width: 100%;
        margin: 0;
        padding: 20px 29px;
    }

    .kotak-body .kontak{
        width: 100%;
    }

    .kontak .kotak-logo{
        width: 20%;
        margin-left: 0.5px;
    }

    .kotak-copy{
        margin-top: 18px;
    }
    /* end footer */
}

/* table */
@media (max-width: 800px){
    /* universal */
    html{
        font-size: 80%;
    }

    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    /* set logo */
    .navbarr .pembungkus .logo{
        width: 25%;
    }

    .navbarr .pembungkus .list-menu,
    .navbarr .pembungkus .auth{
        display: none;
    }

    .navbarr .pembungkus .icon-bars{
        display: block;
        font-size: 20px;
    }

    .navbarr .dropdown{
        display: block;
        font-size: 15px;
    }


    /* end navbarr */

    /* hero section */
    .hero{
        width: 100%;
        margin-block: 25%;
    }

    .hero .konten{
        width: 100%;
    }

    .hero .gambar-hero{
        display: none;
    }

    .hero .konten{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .konten .Judul{
        font-size: 33px;
        margin-block: 10px;
    }

    .hero .konten .pendukung{
        font-size: 20px;
    }
    /* end hero section */

    /* alasan */
    .judul-alasan{
        font-size: 33px;
    }

    .alasan{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .bungkus-alasan{
        margin: 25px;
        width: 60%;
    }

    .bungkus-alasan .gambar{
        width: 50%;
    }

    .bungkus-alasan .judul-card{
        font-size: 25px;
    }

    .bungkus-alasan .text{
        font-size: 16px;
    }
    /* end alasan */
    .judul-rekom{
        font-size: 33px;
        text-align: center;
        margin-top: 40%;
    }

    .pendukung-judul-rekom{
        font-size: 21px;
        margin-bottom: 25px;
    }

    .rekom-kotak{
        width: 100%;
    }

    /* rekom */
    /* end rekom */

    /* lowongan */
    .judul-lowongan{
        font-size: 33px;
        text-align: center;
        margin-top: 20%;
    }

    .kotak-lowongan{
        min-width: 40vw;
    }

    .kotak-lowongan .logo-lowongan{
        width: 60%;
    }

    .kotak-lowongan .body-lowongan .namaPosisi{
        font-size: 20px;
    }

    .kotak-lowongan .body-lowongan .namaUsaha{
        font-size: 13px;
    }

    .kotak-lowongan .kota-lowongan .icon-location #location i{
        font-size: 20px;
    }
    
    .kotak-lowongan .kota-lowongan .kotaUsaha{
        font-size: 18px;
    }

    .kotak-lowongan .cek a{
        font-size: 13px;
    }

    /* end lowongan */

    /* footer */
    footer{
        margin-top: 8%;
        background-color: #0d6efd;
        width: 100%;
    }

    .kotak-body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kotak-body .about{
        width: 100%;
        margin: 0;
        padding: 20px 29px;
    }

    .kotak-body .kontak{
        width: 100%;
    }

    .kontak .kotak-logo{
        width: 25%;
        margin-left: 1px;
    }

    .kotak-copy{
        margin-top: 18px;
    }

    /* end footer */
}

/* hanphone */
@media (max-width: 500px){
    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    /* set logo */
    .navbarr .pembungkus .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37%;
    }

    /* set listmenu and auth */
    .navbarr .pembungkus .list-menu,
    .navbarr .pembungkus .auth{
        display: none;
    }

    /* set bars */
    .navbarr .dropdown{
        left: 2rem;
        width: unset;
        font-size: 18px;
    }

    /* end navbarr */

    /* hero section */
    .hero{
        width: 100%;
        margin-block: 20%;  
    }

    .hero .gambar-hero{
        display: none;
    }

    .hero .konten{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .konten .Judul{
        font-size: 29px;
        margin-block: 10px;
    }

    .hero .konten .pendukung{
        font-size: 17.5px;
    }

    
    /* end hero section */

    /* alasan */
    .judul-alasan{
        font-size: 25px;
    }

    .bungkus-alasan{
        margin: 10px;
        width: 70%;
    }

    .bungkus-alasan .gambar{
        width: 60%;
    }

    .bungkus-alasan .judul-card h5{
        font-size: 20px;
    }

    .bungkus-alasan .text{
        font-size: 13px;
    }
    /* end alasan */

    /* rekom */

    .judul-rekom{
        font-size: 25px;
        text-align: center;
        margin-top: 30%;
    }

    .pendukung-judul-rekom{
        font-size: 16px;
        margin-bottom: 25px;
    }

    .rekom-kotak{
        width: 100%;
    }

    /* end rekom */

    /* lowongan */
    .judul-lowongan{
        font-size: 25px;
        text-align: center;
    }

    .kotak-lowongan{
        min-width: 55vw;
    }

    .kotak-lowongan .logo-lowongan{
        width: 60%;
    }

    .kotak-lowongan .body-lowongan .namaPosisi{
        font-size: 20px;
    }

    .kotak-lowongan .body-lowongan .namaUsaha{
        font-size: 13px;
    }

    .kotak-lowongan .kota-lowongan .icon-location #location i{
        font-size: 20px;
    }
    
    .kotak-lowongan .kota-lowongan .kotaUsaha{
        font-size: 18px;
    }

    .kotak-lowongan .cek a{
        font-size: 13px;
    }

    /* end lowongan */

    /* footer */
    footer{
        margin-top: 8%;
        background-color: #0d6efd;
        width: 100%;
    }

    .kotak-body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kotak-body .about{
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .kotak-body .kontak{
        width: 100%;
    }

    .kontak .kotak-logo{
        margin-left: 1px;
        width: 35%;
    }

    .kotak-copy{
        margin-top: 18px;
    }
    
    /* end footer */
}
