@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* navbarr */

/* set navbarr */
.navbarr{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 200px;
    position: fixed;
    width: 100vw;
    background-color: #ffffff;
}

/* set pembungkus */
.navbarr .pembungkus{
    padding: 8px 4%;
    display: flex;
    justify-content: space-between;
}

/* set logo */
.navbarr .pembungkus .logo{
    width: 15vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.navbarr .pembungkus .logo img{
    width: 100%;
}

/* set list menu */
.navbarr .pembungkus .list-menu{
    width: 25vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbarr .pembungkus .list-menu a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.navbarr .pembungkus .list-menu a:hover{
    color: #0d6efd;
    scale: 0.95;
    transition: color 0.2s ease-in-out;
}

/* set list auth */
.navbarr .pembungkus .auth{
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.navbarr .pembungkus .auth .btn{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
}

.navbarr .pembungkus .auth .btn:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.5s ease-in;
}

.navbarr .pembungkus .auth .name_session{
    font-weight: 700;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* set dropdown-menu */
.navbarr .pembungkus .auth .menu_dropdown{
    position: absolute;
    right: 10rem;
    top: 60px;
    height: 0px;
    width: 200px;
    background-color: #ffffff;
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    font-weight: 500;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* set for java */
.navbarr .pembungkus .auth .menu_dropdown.open{
    height: auto;
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}


.navbarr .pembungkus .auth .menu_dropdown li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.navbarr .pembungkus .auth .menu_dropdown li:hover{
    background-color: rgb(238, 237, 237);
}

.navbarr .pembungkus .auth .menu_dropdown li a{
    text-decoration: none;
    color: black;
}

.navbarr .pembungkus .auth .menu_dropdown li a:hover{
    color: #0d6efd;
    scale: 0.95;
}

/* set logo bars */
.navbarr .pembungkus .icon-bars{
    display: none;
    color: #0d6efd;
    font-weight: bolder;
    font-size: 15px;
}

/* set dropdown */
.navbarr .dropdown{
   display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   height: 0px;
   width: 300px;
   background-color: #ffffff;
   backdrop-filter: blur(15px);
   overflow: hidden;
   border-radius: 10px;
   font-weight: 500;
   transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* for java */
.navbarr .dropdown.open{
    height: auto;
    /* box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.navbarr .dropdown li{
    list-style-type: none;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbarr .dropdown li a{
    text-decoration: none;
    color: black;
}

.navbarr .dropdown .ngelist:hover{
    background-color: rgb(238, 237, 237);
}

.navbarr .dropdown li a:hover{
    color: #0d6efd;
    scale: 0.95;
}

.navbarr .dropdown .btn{
    margin-inline: 5px;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
}

.navbarr .dropdown .btn:hover{
    scale: 0.95;
    border: 1px solid #0d6efd;
    background-color: #ffffff;
    color: #0d6efd;
    transition: background-color 0.5s ease-in;
}

/* set profile user */
.navbarr .pembungkus .auth .user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbarr .pembungkus .auth .user .foto_user{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.navbarr .pembungkus .auth .user .foto_user img{
    width: 100%;
}

/* end navbarr */

/* search */
.search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-section .search-data{
    width: 90vw;
    margin-top: 120px;
}

.search-section .search-data .form-search{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.search-section .search-data .form-search .search-input{
    font-size: 20px;
    width: 88%;
    height: 37px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-radius:5px ;
    border: 2px solid #0d6efd;
    outline: none;
}


.search-section .search-data .form-search .search-btn{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    padding-block: 5px;
    background-color: #0d6efd;
    border:1px solid #0d6efd;
    width: 10%;
    color: #ffffff;
    border: none;
    border-radius:5px ;
    cursor: pointer;
}

.search-section .search-data .form-search .search-btn:hover{
    /* scale: 0.95; */
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background-color: #ffffff;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
/* END search */

/* lowongan */
.lowongan-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 20px;
}

.lowongan{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 88vw;
}

.kotak-lowongan{
    margin-inline: 10px;
    margin-block: 10px;
    min-width: 20vw;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.kotak-lowongan .logo-lowongan{
    margin-bottom: 10px;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 10px;
    overflow: hidden;
}

.kotak-lowongan .logo-lowongan img{
    width: 100%;
    height: 100%;
}

.kotak-lowongan .body-lowongan{
    margin-top: 30px;
    margin-bottom: 20px;
}

.kotak-lowongan .body-lowongan .namaUsaha{
    font-weight: 400;
    margin-bottom: 5px;
    color: #0d6efd;
}

.kotak-lowongan .body-lowongan .namaPosisi{
    font-size: 25px;
}

.kotak-lowongan .kota-lowongan{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.kotak-lowongan .kota-lowongan .icon-location #location i{
    display: flex;
    align-items: center;
    color: #0d6efd;
    font-size: 20px;
    padding: 3px;
    margin: 2.5px 0 0 0;
}

.kotak-lowongan .kota-lowongan .kotaUsaha{
    margin-inline: 13px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.kotak-lowongan .cek a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: #0d6efd;
}

.kotak-lowongan .cek a:hover{
    text-decoration: underline;
}

/* end lowongan */

/* pagination */
.pagination{
    display: flex;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
    /* background-color: red; */
}
/* end pagination */

/* footer */
footer{
    margin-top: 2%;
    background-color: #0d6efd;
    width: 100%;
    display: flex;
    justify-content: center;
}

.kotak-footer{
    width: 90vw;
}

.kotak-footer .kotak-logo{
    margin-bottom: 2%;
    width: 22vw;
    height: 13vh;
    display: flex;
    justify-content: center;
}

.kotak-footer .kotak-logo img{
    width: 100%;
}

.kotak-body{
    padding: 15px 15px 40px 15px;
    border-bottom: 2px solid #ffffff;
    display: flex;
}

.kotak-body .about{
    width: 40%;
    color: #ffffff;
    padding: 10px;
}

.kotak-body .about h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px;
}

.kotak-body .about p{
    font-weight: 500;
    text-align: justify;
    font-size: 17px;
}

.kotak-body .kontak{
    width: 30%;
    margin-left: 8vw;
    padding: 10px;
}

.kotak-body .kontak h3{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.kotak-body .kontak .icon-kontak{
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

.kotak-body .kontak .icon-kontak a{
    text-decoration: none;  
}

.kotak-body .kontak .icon-kontak i{
    color: #ffffff;
    font-weight: 600;
    display: flex;
    margin-right: 10px;  
}

.kotak-body .kontak .icon-kontak p{
    font-weight: 600;
    color: #ffffff;
    margin-top: -5px;
}

.kotak-copy{
    margin-top: 30px;
    margin-bottom: 10px;
}

.kotak-copy .sosmed{
    display: flex;
    justify-content: center;
}

.kotak-copy .sosmed a{
    text-decoration: none;
}

.kotak-copy .sosmed i{
    font-size: 35px;
    padding-block: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #ffffff;
}

.kotak-copy .sosmed .sosmed-center{
    margin-inline: 17px;
}

.kotak-copy .copy{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
/* end footer */

/* Responsive */
/* laptop */
@media  (max-width: 1366px){
     /* universal */
     html{
        font-size: 90%;
    }

    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    .navbarr .pembungkus{
        padding-inline: 5%;
    }

    .navbarr .pembungkus .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18vw;
    }

    nav .auth{
        margin-right: 3%;
    }

    /* end navbarr */

}

/* table */
@media (max-width: 900px){
    /* universal */
    html{
        font-size: 80%;
    }

    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    .navbarr .pembungkus .list-menu,
    .navbarr .pembungkus .auth{
        display: none;
    }

    .navbarr .pembungkus .icon-bars{
        display: block;
        font-size: 20px;
    }

    .navbarr .dropdown{
        display: block;
        font-size: 15px;
    }

    /* end navbarr */

    /* search */
    .search-section{
        width: 100%;
    }

    .search-section .search-data{
        width: 70vw;
    }

    .search-section .search-data .form-search .search-input{
        width: 45vw;
    }

    .search-section .search-data .form-search .search-btn{
        width: 20vw;
    }

    /* end search */

    /* lowongan */
    .lowongan-section{
        width: 100%;
    }
    .kotak-lowongan{
        width: 38vw;
    }

    .lowongan .kotak-lowongan .logo-lowongan{
        width: 20vw;
    }

    .lowongan .kotak-lowongan .logo-lowongan img{
        width: 100%;
    }
    /* end lowongan */





    /* footer */
    footer{
        width: 100;
        padding-bottom: 20px;
    }
    
    .kotak-body .about{
        display: none;
    }

    .kotak-footer .kotak-logo{
        width: 40vw;
    }
    
    .kotak-footer .kotak-logo img{
        width: 100%;
    }

    .kotak-body .kontak{
        margin-left: -0.1vw;
    }

    /* end footer */
}

/* hanphone */
@media (max-width: 500px){
    /* navbarr */
    .navbarr{
        width: 100vw;
        position: fixed;
    }

    /* set logo */
    .navbarr .pembungkus .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37vw;
    }

    /* set listmenu and auth */
    .navbarr .pembungkus .list-menu,
    .navbarr .pembungkus .auth{
        display: none;
    }

    /* set bars */
    .navbarr .dropdown{
        left: 2rem;
        width: unset;
        font-size: 18px;
    }

    /* end navbarr */

    /* lowongan */
    .kotak-lowongan{
        width: 40vw;
    }
    .lowongan .kotak-lowongan .logo-lowongan{
        margin: auto;
        width: 30vw;
    }

    .lowongan .kotak-lowongan .logo-lowongan img{
        width: 100%;
    }
    /* end lowongan */
    


    /* footer */
    footer{
        width: 100;
        padding-bottom: 20px;
    }

    .kotak-footer .kotak-logo{
        width: 52vw;
    }
    
    .kotak-footer .kotak-logo img{
        width: 100%;
    }
    
    .kotak-body .about{
        display: none;
    }

    .kotak-body .kontak{
        margin-left: -2%;
    }



    

    /* end footer */
}
